{% extends 'main.html' %}
{% block contenu %}
<div class="row">
	<div class="col-md">

	</div>

</div>


<br>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Enregistrement</th>
				</tr>

			</table>
		</div>
				<button type="button" class="btn btn-success">Creer</button>
		<div class="container">
              <div class="d-flex my-2 bg-warning">
                  <div class="p-2 bg-info border order-2">Date</div>
                  <div class="p-2 bg-info border order-0">Name</div>
                  <div class="p-2 bg-info border order-1">Forme Galinique</div>
				  <div class="p-2 bg-info border order-2">Demande AMM</div>
                  <div class="p-2 bg-info border order-0">Etat du dossier</div>
               </div>

	</div>
</div>

{% endblock %}