{% extends 'main.html' %}
{% block contenu %}
<h1>liste des compositions</h1>
<div class="container">
              <div class="d-flex my-2 bg-warning">
                  <div class="p-2 bg-info border order-2">IdComposition</div>
                  <div class="p-2 bg-info border order-0">Substance</div>
                  <div class="p-2 bg-info border order-1">Classe therapeutique</div>
				  <div class="p-2 bg-info border order-2">Dosage</div>
                  <div class="p-2 bg-info border order-0">Unite</div>
               </div>

	</div>
{% endblock %}