{% extends 'main.html' %}
{% block contenu %}
<br>
<div class="row">
	<div class="col-md-10">
		<h5>Enregistrement</h5>
		<button type="button" class="btn btn-success">Creer</button>
		<hr>
		<div class="card card-body">
			<table class="table table-dark">
				<tr>
					<th>Code</th>
					<th>Date</th>
					<th>Name</th>
					<th>Forme galenique</th>
					<th>Demandeur AMM</th>
					<th>Responsable</th>
					<th>Etat des enregistrement</th>
				</tr>
				{% for medicament in medicaments %}
				<tr>
				<th><a href="{% url 'medicament' %}">{{ medicament.id }}</a></th>
				<th>{{ medicament.nature }}</th>
				<th>{{ medicament.libellé }}</th>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>


</div>
{% endblock %}